// your variable changes can go here

@import "ionic/ionic";

// your slick styles can go here...
// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css

.iwill {
	font-size: 3em;
	padding-top: 1em;
	padding-left:0.2em;
	padding-right:0.2em;
}